{% extends "base.html" %}
{% block start %}


<br>
<div class="container">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 class="mx-auto">Update Receipe Here</h3>
    <hr> 
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Update Receipe Name</label>
        <input name="reciepe_name" value="{{update.reciepe_name}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>  
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Update Receipe Description</label>
        <textarea name="reciepe_desc" class="form-control">{{update.reciepe_desc}}</textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Update Receipe Image</label>
        <br>
        <img src="/media/{{update.reciepe_image}}" style="height: 150px;"></img></td>
        <br>
        <br>
        <input name="reciepe_image" value="{{update.reciepe_image}}" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <button type="submit" class="btn btn-success">Click here to update</button>
    </form>
</div>

{% endblock %}